



#showcase {
  position: relative;
  min-height: 650px;
  color: #fff;
  padding-top:10rem;
}
#showcase .home-search {
  min-height: 400px;
  position: relative;
  border-radius: 5px;
}
#showcase .overlay {
  content: '';
  position: absolute;
  top: 10%;
  left: 0;
  margin: -5px 0 0 -5px;
  min-height: 400px;
  width: 100%;
  background: rgba(51, 51, 51, 0.8);
}
/* form info */
#txtCity {
  border: none;
  height: 50px;
  border-radius: 50px;
  width: 96%;
  font-weight: bold;
}
#txt_State {
  border: none;
  height: 50px;
  border-radius: 50px;
  width: 96%;
  font-weight: bold;
}

#type {
  border: none;
  height: 50px;
  border-radius: 50px;
  width: 96%;
  font-weight: bold;
}

.btn-1 {
  background: #09a14e;
  color: #ffffff;
  cursor: pointer;
  font-size: 20px;
  border: 0;
  transition: all 0.5s;
  border-radius: 100px;
  width: 50%;
  height: 69px;
  position: relative;
}
.btn-1::after {
  font-weight: 100;
  position: absolute;
  left: 85%;
  top: 31%;
  right: 5%;
  bottom: 0;
  opacity: 0;
}
.btn-1:hover {
  background: #08b45e;
  transition: all 0.5s;
  box-shadow: 0px 6px 15px #07b43361;
  padding: 1.5rem 3.5rem 1.5rem 1.5rem;
}
.btn-1:hover::after {
  opacity: 1;
  transition: all 0.5s;
}
.btn_Card {
  color: #eee;
  background-color: #08b45e;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  width: 100%;
  text-decoration: none;
}
.btn_Card:hover {
  text-decoration: none;
  color: #fff;
}

.form-row{
padding-top:10px !important;
    padding-bottom: 41px !important;

}


.searchColumn{
width:100%;
}
.txtCity {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
      padding: 3.375rem 3rem;
    line-height: 1.5;
    color: #111;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border: none;
    height: 50px;
    border-radius: 50px;
    font-size:23;

}
.lead {
    font-size: 2.25rem;
    font-weight: 300;
}
#showcase{
  animation: fadeIn 0.8s ease-in 0.01s;
}


@keyframes fadeIn {
  5% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

#showcase {
    position: relative;
    min-height: 650px;
    color: #fff;
    padding-top: 4rem;
}

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {


#showcase {
    position: relative;
    min-height: 650px;
    color: #fff;
    padding-top: 4rem;
}

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {


#showcase {
    position: relative;
    min-height: 650px;
    color: #fff;
    padding-top: 4rem;
}

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

#showcase {
    position: relative;
    min-height: 650px;
    color: #fff;
    padding-top: 4rem;
}

}
.fa-spinner{
font-size:37px;
padding:10px;

}




svg {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -400px;
}
.message-box {
  height: 200px;
  width: 380px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: 50px;
  color: #FFF;
  font-family: Roboto;
  font-weight: 300;
}
.message-box h1 {
  font-size: 60px;
  line-height: 46px;
  margin-bottom: 40px;
}
.buttons-con .action-link-wrap {
  margin-top: 40px;
}
.buttons-con .action-link-wrap a {
  background: #68c950;
  padding: 8px 25px;
  border-radius: 4px;
  color: #FFF;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.3s linear;
  cursor: pointer;
  text-decoration: none;
  margin-right: 10px
}
.buttons-con .action-link-wrap a:hover {
  background: #5A5C6C;
  color: #fff;
}

#Polygon-1 , #Polygon-2 , #Polygon-3 , #Polygon-4 , #Polygon-4, #Polygon-5 {
  animation: float 1s infinite ease-in-out alternate;
}
#Polygon-2 {
  animation-delay: .2s;
}
#Polygon-3 {
  animation-delay: .4s;
}
#Polygon-4 {
  animation-delay: .6s;
}
#Polygon-5 {
  animation-delay: .8s;
}

@keyframes float {
	100% {
    transform: translateY(20px);
  }
}
@media (max-width: 450px) {
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -190px;
  }
  .message-box {
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -190px;
    text-align: center;
  }
}